
		 <div class="container" style='background:url("mundo.jpg")'>
				<div class="row">
				<div class="col-md-12 texto">
			<strong style="font-size:70px;color:brown" class="get drago">Inicio de sesion</strong>
					<div class="cuadro">
						 <h1 style="color:white" class="max text-center"> Login</h1>
					<br/> 
					<br/> 
					<h4 style="color:white" class="drago text-center"> Nombre de Usuario </h4>
					<input type="text" class="sol"placeholder="correo@algo.com"> 
					<h4 style="color:white" class="drago text-center"> Contraseña</h4>
					<input  type="password" class="sol" placeholder="password">
					<br/> 
					<br/> 
					<button class="sol btn" >INICIAR</button>
					<script src="angular.min.js"></script> 
					<script src="scripts.js"></script>

					<script src="https://ajax.googleapis.com/ajax/libs/angular-ui-router/1.0.0-rc.1/angular-ui-router.min.js">
					</script>
					
					 </div>   
						</div>
			 </div>
