body {
  background: url("sol.jpg");
	-webkit-background-size :cover;
	-o-background-size-cover";
	-moz-background-size-cover;
	-background-size-cover;
	
}
 .get {
font-family: 'Fascinate Inline', cursive;


 }
 .drago {
 		font-family: 'Handlee', cursive;
 		display: flex;
 }
.lol {
font-family: 'Satisfy', cursive;
display: flex;
}
.btn {
  background: #050d12;
  background-image: -webkit-linear-gradient(top, #050d12, #ae0dd6);
  background-image: -moz-linear-gradient(top, #050d12, #ae0dd6);
  background-image: -ms-linear-gradient(top, #050d12, #ae0dd6);
  background-image: -o-linear-gradient(top, #050d12, #ae0dd6);
  background-image: linear-gradient(to bottom, #050d12, #ae0dd6);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 12px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display: block !important;
  }

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  }
  .final {
  	width: 100%;
  	height: 50px;
  	background-color:pink;

  }
  .kak {
  box-shadow: 3px 5px 5px purple;
  border-radius: 35px;